header {
  background: #444;
  color: ivory;
  line-height: 2em;
  font-size: 1.5em;
  text-align: center;

}

main {
  margin: 1.5em 1em;
  ul {
    list-style-type: none;

    li {
        background: #eee;
        line-height: 1.6em;
        margin: .5em;
        padding: .5em;

        details{
          
          div{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            padding-top: .25em;
          }
        }
    }
  }
}



footer {
  bottom: 0;
  width: 100%;
  background: #ccc;
  line-height: 5em;
  text-align: center;
}